* {
  margin: 0;
  padding: 0;
  border: unset;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 150vh;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1440px;
  min-width: 300px;
  width: 90vw;
  height: 145vh;
  margin-top: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  min-width: 300px;
  width: 100%;
  height: 50px;
}

header img:hover {
  cursor: pointer;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.nav-list {
  margin-left: 30px;
  display: inline-block;
  cursor: pointer;
  color: hsl(236, 13%, 42%);
}

li:hover {
  color: black;
}

li:active {
  color: hsl(236, 13%, 42%);
}

nav {
  width: 100%;
  text-align: right;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  margin-top: 30px;
}

.main-container1 {
  width: 880px;
  height: 600px;
}

.top-row {
  width: 880px;
  height: 300px;
}

.top-row img {
  width: 100%;
  height: 100%;
}

.down-row {
  display: flex;
  width: 880px;
  height: 275px;
}

.section-1 {
  height: 275px;
  width: 50%;
}

.section-1 h1 {
  font-size: 77px;
  height: 275px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  height: 275px;
  width: 50%;
}

.section-2 p {
  font-size: 19px;
  color: hsl(236, 13%, 42%);
  margin: 20px 0;
}

.readmore-button {
  height: 45px;
  width: 150px;
  font-size: 15px;
  margin-top: 106px;
  cursor: pointer;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
}

.readmore-button:hover {
  background-color: hsl(35, 77%, 62%);
}

.readmore-button:active {
  background-color: hsl(5, 85%, 63%);
}

.main-container2 {
  display: flex;
  flex-direction: column;
  height: 576px;
  width: 300px;
  background-color: hsl(240, 100%, 5%);
}

.main-container2 h2 {
  font-size: 35px;
  color: hsl(35, 77%, 62%);
  margin: 20px 0 10px 20px;
}

.news p {
  color: hsl(236, 13%, 42%);
}

.news h3 {
  margin-bottom: 15px;
  color: hsl(36, 100%, 99%);
}

.form {
  margin-top: 30px;
}

.news {
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 30px;
  width: 270px;
  cursor: pointer;
}

#new-id {
  border-top: 1px solid hsl(236, 13%, 42%);
}

.down-content {
  margin-top: 50px;
  height: 150px;
  width: 100%;
}

.down-list {
  display: flex;
  gap: 80px;
}

.bottom-contents {
  display: flex;
  width: 420px;
  flex-direction: row;
}

.bottom-contents img {
  width: 100px;
  height: 130px;
}

.bottom-contents img:hover {
  cursor: pointer;
}

.down-form {
  margin-left: 25px;
  cursor: pointer;
}

.down-form h2 {
  color: hsl(233, 8%, 79%);
  margin-bottom: 18px;
}

.down-form h3 {
  margin-bottom: 18px;
}

.down-form p {
  font-size: 17px;
  color: hsl(236, 13%, 42%);
  width: 230px;
}
